@model clase1posta.Models.Propietario

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Propietario</h2>
<br />

<h3>Esta seguro que desea eliminar esto?</h3>
<br />
<div>
    

    <ul class="collection col s6 ">
        <li class="collection-item light-blue lighten-5">  @Html.DisplayNameFor(model => model.idPropietario): @Html.DisplayFor(model => model.idPropietario)</li>
        <li class="collection-item">  @Html.DisplayNameFor(model => model.nombre): @Html.DisplayFor(model => model.nombre)</li>
        <li class="collection-item light-blue lighten-5">  @Html.DisplayNameFor(model => model.apellido): @Html.DisplayFor(model => model.apellido)</li>
        <li class="collection-item">  @Html.DisplayNameFor(model => model.dni): @Html.DisplayFor(model => model.dni)</li>
        <li class="collection-item light-blue lighten-5">  @Html.DisplayNameFor(model => model.telefono): @Html.DisplayFor(model => model.telefono)</li>
        <li class="collection-item">  @Html.DisplayNameFor(model => model.email): @Html.DisplayFor(model => model.email)</li>
    </ul>

    <form asp-action="Delete">
        <div class="input-field col s12">
            <button class=" btn-large waves-effect waves-light  light-blue lighten-1" type="submit" name="action">
                Eliminar
                <i class="material-icons right">delete_forever</i>
            </button>
        </div>
        <br />
        <br />
        <a asp-action="Index">Back to List</a>
    </form>
    <br />
</div>
