@model clase1posta.Models.Inquilino

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Inquilino</h2>
<br />

<h3>Esta seguro que desea eliminar esto?</h3>
<br />
<div>
   

    <ul class="collection col s6 ">
        <li class="collection-item light-blue lighten-5">  @Html.DisplayNameFor(model => model.idInquilino): @Html.DisplayFor(model => model.idInquilino)</li>
        <li class="collection-item">  @Html.DisplayNameFor(model => model.nombre): @Html.DisplayFor(model => model.nombre)</li>
        <li class="collection-item light-blue lighten-5">  @Html.DisplayNameFor(model => model.apellido): @Html.DisplayFor(model => model.apellido)</li>
        <li class="collection-item">  @Html.DisplayNameFor(model => model.dni): @Html.DisplayFor(model => model.dni)</li>
        <li class="collection-item light-blue lighten-5">  @Html.DisplayNameFor(model => model.trabajo): @Html.DisplayFor(model => model.trabajo)</li>
        <li class="collection-item">  @Html.DisplayNameFor(model => model.nombreGarante): @Html.DisplayFor(model => model.nombreGarante)</li>
        <li class="collection-item light-blue lighten-5">  @Html.DisplayNameFor(model => model.apellidoGarante): @Html.DisplayFor(model => model.apellidoGarante)</li>
        <li class="collection-item">  @Html.DisplayNameFor(model => model.dniGarante): @Html.DisplayFor(model => model.dniGarante)</li>

    </ul>
    <form asp-action="Delete">
        <div class="input-field col s12">
            <button class=" btn-large waves-effect waves-light  light-blue lighten-1" type="submit" name="action">
                Eliminar
                <i class="material-icons right">delete_forever</i>
            </button>
        </div>
        <br />
        <br />
        <a asp-action="Index">Back to List</a>
    </form>
    <br />
</div>
