@model IEnumerable<clase1posta.Models.Inquilino>

@{
    ViewData["Title"] = "Index";
}
<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidoGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dniGarante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idInquilino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trabajo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreGarante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidoGarante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dniGarante)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.idInquilino }) |
                    @Html.ActionLink("Details", "Details", new { id=item.idInquilino }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.idInquilino })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabla').DataTable();
        });</script>

}