@model IEnumerable<clase1posta.Models.Inquilino>

@{
    ViewData["Title"] = "Index";
}
<div>
    <h2 style="display:inline-block">Inquilinos</h2>
    <a class="btn-floating btn-large waves-effect waves-light light-blue lighten-2 btn tooltipped" data-position="bottom" data-tooltip="Agregar Inquilino" asp-action="Create" style="margin-top:-20px; margin-left: 25px"><i class="material-icons">add</i></a>
</div>
<br />
<div class="light-blue lighten-5 contenedor">
    <table class="table highlight centered" id="tabla">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Dni
                </th>
                <th>
                    Trabajo
                </th>
                <th>
                    NombreGarante
                </th>
                <th>
                    ApellidoGarante)
                </th>
                <th>
                    DniGarante
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idInquilino)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dni)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.trabajo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreGarante)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellidoGarante)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dniGarante)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Inquilino", new { id = item.idInquilino})" class="waves-effect waves-light btn-flat light-blue lighten-3 tooltipped" data-position="bottom" data-tooltip="Editar" style="border-radius:100px"><i class="tiny material-icons">create</i></a>
                        <a href="@Url.Action("Delete", "Inquilino", new { id = item.idInquilino})" class="waves-effect waves-light btn-flat light-blue lighten-3 tooltipped" data-position="bottom" data-tooltip="Eliminar" style="border-radius:100px"><i class="tiny material-icons">delete</i></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="fixed-action-btn ">
    <a id="menu" class="waves-effect waves-light btn btn-floating light-blue lighten-2"><i class="material-icons">announcement</i></a>
</div>

<div class="tap-target " id="colorTap" data-target="menu">
    <div class="tap-target-content ">
        <h5 id="tituloAnuncio">Title</h5>
        <p id="textoAnuncio">A bunch of text</p>
    </div>
</div>
