@model clase1posta.Models.Inmueble

@{
    ViewData["Title"] = "Delete";
}

<<h2>Eliminar Inmueble</h2>
<br />

<h3>Esta seguro que desea eliminar esto?</h3>
<br />

<div>

    <ul class="collection col s6 ">
        <li class="collection-item light-blue lighten-5">  @Html.DisplayNameFor(model => model.IdInmueble): @Html.DisplayFor(model => model.IdInmueble)</li>
        <li class="collection-item">  @Html.DisplayNameFor(model => model.IdPropietario): @Html.DisplayFor(model => model.IdPropietario)</li>
        <li class="collection-item light-blue lighten-5">  @Html.DisplayNameFor(model => model.Direccion): @Html.DisplayFor(model => model.Direccion)</li>
        <li class="collection-item">  @Html.DisplayNameFor(model => model.IdTipo): @Html.DisplayFor(model => model.IdTipo)</li>
        <li class="collection-item light-blue lighten-5">  @Html.DisplayNameFor(model => model.CantAmbientes): @Html.DisplayFor(model => model.CantAmbientes)</li>
        <li class="collection-item">  @Html.DisplayNameFor(model => model.Precio): @Html.DisplayFor(model => model.Precio)</li>
        <li class="collection-item light-blue lighten-5">  @Html.DisplayNameFor(model => model.Estado): @Html.DisplayFor(model => model.Estado)</li>
    </ul>

    <form asp-action="Delete">
        <div class="input-field col s12">
            <button class=" btn-large waves-effect waves-light  light-blue lighten-1" type="submit" name="action">
                Eliminar
                <i class="material-icons right">delete_forever</i>
            </button>
        </div>
        <br />
        <br />
        <a asp-action="Index">Back to List</a>
    </form>
    <br />
</div>
